<% if user_signed_in? %>
    <h1>You're logged in as: </h1>
    <% if current_user.has_role? :admin %>
      <h3>admin</h3>
    <% end %>

    <% if current_user.has_role? :user %>
        <h3>user</h3>
    <% end %>
<% else %>
    <h1>Welcome to the DemoApp</h1>
    <p>this is the home page of Devise DemoApp</p>
<% end %>
