<div class="top-bar">
  <div class="top-bar-title">
    <strong>
      <%= link_to Rails.configuration.application_name, root_path %>
    </strong>
  </div>
  
  <div class="top-bar-right">
    <ul class="menu align-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'common dashboard', secure_pages_common_dashboard_path %>
        </li>

        <!-- dropdown menu: START -->
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <%= link_to current_user.email %>
            <ul class="menu">
              <li>
                <% if current_user.has_role? :user %>            
                  <%= link_to 'user dashboard', secure_pages_user_dashboard_path %>
                <% end %>

                <% if current_user.has_role? :admin %>
                  <%= link_to 'admin dashboard', secure_pages_admin_dashboard_path %>
                <% end %>
              </li>
              <li>
                <%= link_to 'Edit Profile', edit_user_registration_path(id: current_user) %>
              </li>
              <li>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
        <!-- dropdown menu: END -->
      <% else %>
        <li>
          <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div> 
</div> 
